<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478016155974-61mpu45rok76prsirbav642c4m7q78rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478016155974-61mpu45rok76prsirbav642c4m7q78rf</string>
	<key>API_KEY</key>
	<string>AIzaSyBZg_4XTc3h1zboJyagc_oa8XUQ9JjsieI</string>
	<key>GCM_SENDER_ID</key>
	<string>478016155974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barcompany.fooname</string>
	<key>PROJECT_ID</key>
	<string>expo-fb-e466e</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-fb-e466e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478016155974:ios:fd87d92e0a09794e7bb547</string>
</dict>
</plist>